(1) Import pandas under the alias pd

(2) Show the version of pandas imported

(3) Run the following code to create the objects `data` and `labels`:

In [ ]:
data = {'Name': ['John A', 'John B', 'Jane A', 'Jane B', 'Yaron A', 'Yaron B', 'Moran A', 'Moran B'],
        'gender': ['M', 'M', 'F', 'F', 'M', 'M', 'F', 'F'],
        'age': [3, 70, None, 50, 32, 37, 45, 38],
        'Weight':[15, 75, 25, 100, 85, 80, 175, 65],
        'Height': [90, 140, 110, 170, 180, 175, 190, 160],
        'Superhero': ['No', 'Yes','No', 'Yes', 'No', 'Yes', 'No', 'Yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

(4) Create a pandas dataframe df with `data`, using `labels` as the index

(5) Use the dataframe info method to show summary information on df:

(6) Show the summary statistics on the numerical columns:

(7) Disaply the first 3 rows of df

(8) Display only the rows with labels 'a', 'c', and 'e'

(9) Display every other row

(10) Display only the 'Name' and 'Superhero' columns for the entire dataframe

(11) Display only the 'Name' and 'Superhero' columns for the second, fourth, and seventh rows

(12) Display all rows where 'age' is equal or greater than 50

(13) Display all rows where 'age' has a missing value

(14) Display all Superheros that are taller than 110

(15) Display all rows where

(16) Set the age at row 'c' to 5

(17) Calculate the overall weight measured in the data

(18) Separating by Superhero status - calculate the mean age.

(19) Add a new row 'i' with your own values

(20) Remove row 'i'

(21) Count how many of the rows are Male and how many Female

(22) Show the dataframe sorted by age, descending (oldest first)

(23) Change the Superhero column to boolean values

(24) Separating by gender and superhero status, calculate the mean Height, Weight, and age

(25) Add a column containing the calculated [BMI](https://en.wikipedia.org/wiki/Body_mass_index) for each row.
Assume height is in cm, weight in kg.

(26) Show the index for the row with the highest BMI